/* font */
@font-face{
    font-family: FrankRuhlLibreBold;
	src : url(./font/Frank_Ruhl_Libre/FrankRuhlLibre-Bold.ttf);
}

@font-face{
    font-family: Exo;
    src: url(./font/Exo/Exo-VariableFont_wght.ttf)
}

@font-face{
    font-family: Forum;
    src: url(./font/Forum/Forum-Regular.ttf);
}

/* header */
header > .main { height: 960px; background-color:#99A89E; 
    display: flex; align-items: center;}
.nonfixed {
    width: 100%; height: 200px;
    font-family: FrankRuhlLibreBold; font-style: normal; font-size: 100px;
    line-height: 129px; text-align: center; color: #F9F2ED; 
}

.fixed{
    position: fixed; top: 0px; height: 200px; width: 100%; margin-left: -8px;
}

/* article */
article{ height: 870px; background-color: #ECE1DA; position: relative; margin-top: -20px;}
article > .floating {padding:3% 5%;}
article > .floating { font-family: Forum; color: #454545;}
article > .floating > ul > li { margin-bottom: 5%;}
article > .floating > button { 
    background: #ECE1DA; border: 3px solid #99A89E; 
    width: 480px; margin: auto; padding: 0 120px; height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Exo; font-size: 45px; line-height: 66px;
    display: flex; align-items: center; 
    color: #99A89E; cursor: pointer;
    
}
.btn:hover{
    background:#99A89E ; border: 3px solid #99A89E; color: #ECE1DA;
}


/* footer */
footer { background: #ECE1DA; color:#807F89; text-align: center;}
