body {
    padding-top: 125px;
    background: #F9F2ED;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 125px;
    background: #F9F2ED;
    text-align: center;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #F9F2ED;
    color: black;
}

.scroll {
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: : scroll;
    -ms-overflow-style: none;
}

div.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.profile {
    width: 99px;
    height: 99px;
    border-radius: 70%;
    overflow: hidden;
}

img.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.sendbox {
    display: flex;
    position: fixed;
    bottom: 30px;
    height: 97px;
    width: 100%;
    background: #C4C4C4;
}

div#sendbox-left {
    flex: 1;
    padding: 16px;
}

div#sendbox-center {
    flex: 10;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

div#sendbox-right {
    flex: 1;
    padding: 16px;
    text-align: right;
}

button {
    border: 0;
}

textarea {
    width: 100%;
    height: 65px;
    border: 0;
    background: #F4F2F2;
}
