body { width: 100%; height: 1024px; background: #F9F2ED; font-family: Forum; font-weight: 400; font-style: normal;}
body > #my_modal >#underb{margin-top:25px; border-radius:75px;}
body > #my_modal >#upb{margin-top:30px; border-radius:75px;}
body > #my_modal >#upb> #upi{border-radius:75px;}
body > #my_modal >#underb> #underi{border-radius:75px;}
/* header */
.header > .center { width: 100%; height: 125px; background: #F9F2ED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.header > .center > img {width: 249px; height: 70px; padding-top: 27px; display: block; margin: auto; }

/* conversation */
article > #convBox > #conversation {height: 700px;}
article > #convBox > #conversation > #left { float: left; width: 50%; margin-left: 5%;}
article > #convBox > #conversation > #left > * {float: left;}
article > #convBox > #conversation > #left > .conv {
    font-family: Forum; font-style: normal; font-weight: normal; font-size: 29px;
    line-height: 32px; align-items: center;
    color: #454545; padding: 23px;

    background: #F9D5D3; border: 3px dashed #ECA4A6; box-sizing: border-box;
    border-radius: 20px;
}

article > #convBox > #conversation > #right { float: right; width: 50%; margin-right: 5%; align-items: flex-end; }
article > #convBox > #conversation > #right > * {float: right;}
article > #convBox > #conversation > #right > .conv {
    font-family: Forum; font-style: normal; font-weight: normal; font-size: 29px;
    line-height: 32px; align-items: center; text-align: center;
    color: #454545; padding: 23px;

    background: #D7DBD1; border: 3px dashed #99A89E; box-sizing: border-box;
    border-radius: 20px;
}
article > #convBox > #scenario { width: 100%; display:flex; height: 100px; justify-content: center; align-items: center;}
article > #convBox > #scenario > button { 
    width: 177px; height: 69px;
    background: #E6E8E4; border: 1px dashed #807F89; box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    font-family: Forum; font-size: 27px; line-height: 30px;
    text-align: center; color: #454545;
}

article > #convBox > #scenario > * {margin: 0 75px;}

/*
.circle > * { border-radius:75px; margin-top: 30px; margin-bottom: -10px;}
*/

/* Input Text */
article > section > .sendbox { width: 100%; background: #C4C4C4; display: flex; justify-content: center; align-items: center;}
article > section > .sendbox > * {float: left; height: 65px; margin: 17px; }
article > section > .sendbox > button { 
    background-color: transparent;
    background-repeat: no-repeat; 
    background-position: 0px 0px; 
    border: none;          
    cursor: pointer; 
}
article > section > .sendbox > input{ width: 1140px;}

/* footer */
footer { background: #C4C4C4; color:#807F89; text-align: center;}


#my_modal {
    display: none;
    width: 200px;
    height:500px;
    padding: 50px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}


