<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Pick Your Clothes</title>
    <link rel = stylesheet TYPE = "text/css" href ="../static/css/style2.css"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.0/socket.io.min.js"></script>
    <script type="text/javascript" src = "../static/js/chat2.js"></script>
  </head>
  <body>

    <!-- contents -->
    <div class="msgbox" id="recommend">
        <div id="thumbnail">
            <img src="../static/icon/example.png" alt="thumbnail">
        </div>
        <div id="info">
            <label for="brandName">브랜드이름</label>
            <span id=" brandName">나이키</span><br>
            <label for="itemName">상품 이름</label>
            <span id="itemName">반반팔티반팔티itealdfjalskl jdldaks </span><br>
            <label for="itemPrice">상품 가격</label>
            <span id="itemPrice">19000</span><span>원</span>
        </div>
        <button>
            해당 링크로 이동
        </button>
    </div>

    <footer class="footer">
      <div>Copyright ⓒ PYC. All rights reserved.</div>
    </footer>

  </body>