<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Pick Your Clothes</title>
    <link rel = stylesheet TYPE = "text/css" href ="{{url_for('static', filename='../static/css/style2.css')}}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.0/socket.io.min.js"></script>
    <script type="text/javascript" src = "../static/js/chat_sy.js"></script>
  </head>
  <body>
    <!-- header -->
    <header class="header">
        <div class="center">
		<img src="../static/icon/logo.png" width="249px" height="70px" alt="Logo">
        </div>
    </header>

    <!-- conversation -->
    <div id="convBox">
        <div class="message_holder"></div>
    </div>
    

    <form method="post" enctype="multipart/form-data" id="uploadForm">
      <input type="file" id="test" name="test" onclick="isClicked()"/>
      <button type="button" id="local"><img src="../static/icon/plus.png" onmouseover="this.src='../static/icon/plus_clicked.png'" onmouseout="this.src='../static/icon/plus.png'" width="110px" height="65px" onclick='modal("my_modal")' ></button>
      <input id="message" type="text" placeholder="Messages" multiple/>
      <button type="submit" id="send"><img src="../static/icon/send.png" onmouseover="this.src='../static/icon/send_clicked.png'" onmouseout="this.src='../static/icon/send.png'" width="110px" height="65px"></button>
    </form>

    <footer class="footer">
      <div>Copyright ⓒ PYC. All rights reserved.</div>
    </footer>

  </body>
  </html>
