<!DOCTYPE html>
<html lang="en">
<title>Pick Your Clothes</title>
<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src = "../static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href ="{{url_for('static', filename='../static/css/main.css')}}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div class="main">
            <div class="nonfixed">Pick Your Clothes</div>
        </div>
    </header>
    <article>
        <div class="floating">
            <ul>
                <li>
                    <h2>프로젝트 소개</h2>
                    <p>
                        21년도 1학기 숙명여자대학교 소프트웨어학부 졸업작품 옷잘코 팀 챗봇 웹페이지입니다. <br>
                        저희는 원하는 옷 사진을 입력하면 비슷한 스타일의 옷을 추천해주는 기능을 제공하고 있어요 😆 <br>
			원하시는 가격대, 브랜드에 맞게도 추천해 드리고, 오늘 날씨에 이 옷이 괜찮을지도 알려드리기도 합니다 🙃 <br> 
			대화를 시작하시려면 ‘대화 시작하기'를 눌러주세요 <br>
                    </p> 
                </li>
                <li>
                    <h2>개발자 소개</h2>
                    <table>
			<tr>
		     	    <td align=center><p><img src="../static/icon/sooyoung.jpeg"><br>소프트웨어융합전공<br>1710222<br>임수영</p></td>
			    <td align=center><p><img src="../static/icon/siyeon.jpeg"><br>소프트웨어융합전공<br>1814382<br>박시연</p></td>
			    <td align=center><p><img src="../static/icon/naeun.jpeg"><br>컴퓨터과학전공<br>1816932<br>이나은</p></td>
                    	</tr>   
		    </table>
		</li>
            </ul>
	    <button class="btn" onclick="location.href='http://203.252.195.236:5000/chat'"> Go To Chat </button>
        </div>
    </article>
    <footer class="footer">
        <div>Copyright ⓒ PYC. All rights reserved.</div>
    </footer>
</body>
</html>
